@charset "utf-8";
:root{
  --m_color:#4169E1;
  --s_color_bk:#333;
  --s_color_w:#fff;
}

/* Detail.css */
/* 모달 랩 */
.bg_wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

/* media screen and (min-width: 1025px) */
.detail_con_wrap{
  width: 1400px;
  margin: 100px auto;
  position: absolute;
  top:0px; left:50%;
  transform: translateX(-50%);
  z-index: 1001;
}


/* 우측 네비게이션 */
.detail_nav_wrap{
  position: sticky;
  top: 0;
  z-index: 1000;

}
.detail_close_btn_wrap{
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.detail_close_btn{
  width: 20px;
  height: 20px;
  padding: 10px;
  color: var(--s_color_w);
  background-color: #333;
  border-radius: 50%;
}
.detail_nav{
  position: absolute;
  right: 0;
  top: 80px;
  
}
.detail_nav ul li{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  cursor: pointer;
}
.detail_nav ul li:first-child a img{
  width: 55px; height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.detail_nav_bg .detail_nav_icon{
  width: 25px;
  height: 25px;
  background-color: var(--s_color_w);
  padding:15px;
  border-radius: 50%;
}
.detail_nav p {
  color: var(--s_color_w);
}
.detail_nav li a{
  color: var(--s_color_w);
}
/* 상세보기 상단내용 */
.detail_con{
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
}
.detail_titlebox{
  width: 100%;
  padding-top: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.detail_titlebox h2{
  font-weight: bold;
  margin-bottom: 10px;
}
.detail_titlebox img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.titlebox_txt{
  width: 600px;
  padding-left: 50px;
}

  .fa-heart{
  transition: color 0.3s ease;
}

/* 상세보기 이미지 */
.detail_photo{
  width: 870px;
  margin: 0 auto;
}
.detail_photo p {
  padding-bottom: 20px;
}
.detail_photo p img{
  width: 100%;
}
.detail_photo p:last-child{
  border-bottom: 2px solid #ccc;;
}

/* 댓글작성 */
.detail_comment{
  width: 870px;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 2px solid #ccc;
}
.detail_comment_title{
  padding-bottom: 10px;
}
.detail_comment_title span{
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding-left: 10px;
}
.detail_comment_title img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  color: var(--s_color_bk);
}
.detail_txtbox{
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 5px;
  text-indent: 10px;
  resize: none;
  font-family: var(--font_family);
}
.detail_comment_btn_wrap{
  text-align: right;
}
.detail_comment_btn{
  padding: 10px 30px;
  width: inherit !important;
  line-height: inherit !important;
  font-size: inherit !important;
  background-color: var(--m_color);
  color: var(--s_color_w);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* 댓글 */

.detail_reading_comment_wrap{
  width: 870px;
  margin: 0 auto;
  padding: 20px 0;
}
.detail_reading_comment_profile{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
.detail_reading_comment_profile > img{
  width: 55px; height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.detail_reading_comment_profile_txt{
  width: 100%;
  padding-left: 20px;
}
.detail_reading_comment_profile_txt p:first-child{
  font-weight: bold;
  font-size: 20px
}

/* media screen and (min-width: 768px) and (max-width: 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .detail_con_wrap {
    width: 90%;
  }
  .detail_nav{
    right: -4%;
  }
  .detail_close_btn_wrap{
    right: -4%;
  }
  .detail_con {
    width: 85%; 
  }
  .detail_titlebox{
    width: 90%;
  }
  .detail_photo {
    width: 90%; 
  }
  .detail_comment {
    width: 90%; 
  }
  .detail_reading_comment_wrap{
    width: 90%;
  }
}
/* media screen and (max-width: 767px) */
@media screen and (max-width: 767px){
  body{
    overflow-x: hidden;
  }
  .bg_wrap{
    display: none;
  }
  .detail_nav_wrap{
    position: relative;
  }
  .detail_close_btn_wrap{
    top: 40px;
    right: 3%;
  }
  .detail_con_wrap{
    width: 100%;
    z-index: 0;
    transform: none;
    position: absolute;
    left: 0;
    top: 94px;
    margin: 0 auto;
  }
  .detail_nav{
    width: 100%;
    position: fixed;
  }
  .detail_nav p{
    display: none;
  }
  .detail_nav ul{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(360deg,rgba(186, 186, 186, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .detail_nav_bg .detail_nav_icon{
    background-color: none;
    padding:15px; 
    border-radius: 50%;
    color: var(--s_color_bk);
  }
  .detail_nav ul li:first-child a img{
    width: 55px;
  }
  .detail_con {
    width: 100%;
  }
  .detail_titlebox{
    width: 90%; 
    flex-direction: row; 
    justify-content: flex-start;
    padding-top: 20px; 
    margin: 20px auto;
  }
  .detail_titlebox img{
    width: 70px; 
    height: 70px;
    min-width: 70px; 
    min-height: 70px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  .detail_photo {
    width: 90%; 
  }
  .detail_comment {
    width: 90%;
    margin-bottom: 50px;
  }
  .detail_reading_comment_wrap{
    width: 90%;
  }
}




