@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
  --m_color:#4169E1;
  --s_color_bk:#333;
  --s_color_w:#fff;
  --font_family:"Titillium Web", "IBM Plex Sans KR", sans-serif;
}

html {
  font-family: "Titillium Web", "IBM Plex Sans KR", sans-serif;
  color: #333;
  overflow-x: hidden;
}
*{padding:0; margin:0;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color:#333;}

/* 헤더 영역 */
header{
  width: 100%;
  position:fixed;
  top: 0px;
  background: #fff;
  z-index: 1000;
  transition: box-shadow 0.2s ease-in-out;
}
header.scrolled{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .h_wrap{
  width: 100%; max-width:1440px; line-height: 50px;
  display:flex;
  justify-content: space-between;
  margin:30px auto;
  position: relative;
}

.ml_wrap {display: flex; margin-left:20px; gap: 10px;}
.toggle {display: none;}

header .h_wrap h1 img{
  width: 130px;
}

header .h_wrap .h_search {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  height: 48px;
  padding: 0 5px 0 20px;
  border: 3px solid var(--m_color);
  background: var(--s_color_w);
  border-radius: 48px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
header .h_wrap .h_search input {
  width: 400px;
  height: 46px;
  border: none;
  outline: none;
  background: var(--s_color_w);
  font-family: "Titillium Web", "IBM Plex Sans KR", sans-serif;
  font-size: 1rem;
  text-indent: 10px;
  font-weight: bold;
}
header .h_wrap .h_search input::-moz-placeholder {
  color: var(--s_color_bk);
}
header .h_wrap .h_search input::placeholder {
  color: var(--s_color_bk);
}
header .h_wrap .h_search button {
  font-size: 20px;
  width: 46px;
  height: 46px;
  border: 0px;
  border-radius: 48px;
  background: var(--s_color_g1);
  cursor: pointer;
}
.main_header{
  display: flex;
}
.main_header > li, .mobile > li{
  margin-left: 30px;
  font-weight: bold;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  display: flex;
}
.main_header > li img, .mobile > li img{
  width: 30px; height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.h_profile{
  position: absolute;
  text-align: center;
  top: 50px; right: 0px;
  width: 150px; line-height: 40px;
  background: #fff;
  box-shadow: 2px 3px 5px rgba(51, 51, 51, 0.616);
  border-radius: 5px;
}
.h_profile > ul > li{
  border-bottom: 1px solid #eee;  
}
.h_profile > ul > li:last-child{
  color: var(--m_color);
  border-bottom: none;
}

nav {display: none;}
.mobile {display: none;}

/* 푸터 영역 */
footer{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
footer h2 img{
  width: 100px;
}
footer ul{
  display: flex;
}
footer li{
  margin-left: 15px;
  font-size: 20px;
}
footer > button {position: fixed; right: 15%; bottom: 10%; background-color: var(--m_color); border: none; padding: 10px 13px; border-radius: 50%; z-index: 1002;}
footer > button > .svg-inline--fa {color: #fff; font-size: 24px;}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {max-width: 1024px; width: 100%;}
  .h_wrap {max-width: 950px; justify-content: space-around; width: 100%;}
  h1 {margin-left: 1.5rem;}
  footer {max-width: 1024px; width: 100%; justify-content: space-around;}
}

@media screen and (max-width: 767px) {
  header {max-width: 767px; width: 100%;}
  .h_wrap {margin:15px auto !important;}
  h1 {margin-left: 0; display: flex;}
  h1 > a > img {width: 30px !important;}
  footer {max-width: 1024px; width: 100%; justify-content: space-around;}
  .h_search {display: none !important;}
  .toggle {width: 30px; min-width: 30px; height: 22px; position: relative; display: flex; flex-direction: column; justify-content: space-between; padding: 4px; z-index: 1001; top: 7px;}
  .toggle span { display: block; height: 3px; background: #333; border-radius: 2px; transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease; transform-origin: center;}
  /* 기본 위치 (햄버거) */
  .t1 {width: 100%;} .t2 {width: 70%;} .t3 {width: 50%;}
  /* open 상태 (✕ 아이콘) */
  .toggle.open .t1 {transform: rotate(45deg); position:absolute; left:0px; bottom:13px;}
  .toggle.open .t2 { opacity: 0;}
  .toggle.open .t3 { transform: rotate(-45deg); width: 100%; position:absolute; right:0px;bottom:13px;}
  .main_header {display: none;}
  .mobile {display: flex; margin-right: 10px;}
  /* .mobile > li {margin-left: 40px;} */
  .svg-inline--fa {font-size: 1.5rem;}

  .m_search {position: relative; width: 50vw; max-width: 300px; height: 48px; display: block; margin-left: auto; margin-right: auto; top: 0px;} 
  .m_search > input {
    position: absolute;
    right: 0;
    top: 4px;
    height: 48px;
    width: 0;
    opacity: 0;
    border: 3px solid var(--m_color);
    background: var(--s_color_w);
    border-radius: 48px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 48px;
    font-size: 1.1rem;
    z-index: 1;
    transition:
      width 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 0.3s,
      padding-left 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    overflow: hidden;
    display: block;}
  .m_search input.active {
    width: 100%;
    opacity: 1;
    padding-left: 20px;
  }
  .s_icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #4169E1;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 2;
    background: transparent;
    border: none;
    padding: 0;
  }

  nav {display: block; position: fixed; z-index: 100; left: 0px; top: 0px; background-color: rgba(51, 51, 51, 0.616); width: 100%; height: 100vh;}
  nav > div { background-color: #fff; width: 70%; padding: 20px 30px;}
  nav > div > button {background-color: #fff; border: none;}
  nav > div > ul {height: 30vh; margin-top: 50px;}
  nav > div > ul > li {font-weight: bold; font-size: 18px; line-height: 40px;}

  footer {padding-bottom: 10px;}
  footer > h2 > a  {margin-left: 20px;}
  footer > h2 > a > img {width: 35%;}
  footer > address {font-size: 12px;}
  footer > ul {width: 32%;}
  footer > button {right: 1%; bottom: 5%;}
}

/* @media screen and (max-width: 500px) {
  h1 {transform: translateX(150%)}
  .toggle {width: 30px; height: 22px; position: relative; display: flex; flex-direction: column; justify-content: space-between; padding: 4px; z-index: 1001; left: 20px;}
  .m_search input.active {
    width: 90%;
    opacity: 1;
    padding-left: 20px;
  }
} */